{% extends 'base.html.twig' %}

{% block title %}New Minus{% endblock %}

{% block crud %}
    <h1>Create new Minus</h1>

    {{ include('minus/_form.html.twig') }}

    {% set curPath = app.current_route %}
    {% if curPath == 'app_minus_new' %}
        <a href="{{ path('app_minus_index') }}">back to list</a>
    {% endif %}
    {% if curPath == 'app_minus_new1' %}
        <a href="{{ path('route_imp_import1') }}">back to Import</a>
    {% endif %}
{% endblock %}
