{% extends 'base.html.twig' %}

{% block title %}LOG{% endblock %}

{% block body %}
    {% if logs is defined %}
        <div class="content1">
            <h1>LOG</h1>
            <table>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
