{% extends 'base.html.twig' %}

{% block title %}PlikDoTabeli{% endblock %}

{% block body %}
    <div class="content1">
        <h1>PlikDoTabeli</h1>
        {{ form(form) }}
    </div>
{% endblock %}
