{% extends 'base.html.twig' %}

{% block title %}New Move{% endblock %}

{% block crud %}
    <h1>Create new Move</h1>

    {{ include('move/_form.html.twig') }}

    <a href="{{ path('app_move_index') }}">back to list</a>
{% endblock %}
